.full-width {
  width: 100%;
}

#save-note-button {
  float: right;
}

#note-editor-container {
  margin-top:20px;
}

#add-tag-button {
  margin-left: 20px;
}

.tag {
  background-color: #51b9ff;
  border-radius: 50px;
  color: white;
  padding: 2px 8px 2px 8px;
  margin: 5px;
  width: fit-content;
  display: inline-block;
}

.remove-tag-button {
  cursor: pointer;
  vertical-align: middle;
}

.loading-spinner {
  background-image: url('src/assets/loading-spinner.gif');
  height: 200px;
  width: 200px;
  margin: auto;
}

.last-modified {
  font-style: italic;
  color: grey;
  font-size: small;
  text-align: right;
  margin-bottom: -10px;
}