<div class="container">
  <div class="row">
    <button mat-button [routerLink]="['/']">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back
    </button>
  </div>
  <div id="note-editor-container" class="row">
    <mat-card class="full-width">
      <div>
        <mat-form-field class="full-width">
          <input id="title-input" matInput placeholder="Title" [(ngModel)]="note.Title">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <textarea rows="5" matInput placeholder="Content" [(ngModel)]="note.Content"></textarea>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input type="text" placeholder="Tags" aria-label="Number" matInput [matAutocomplete]="auto" [(ngModel)]="selectedTag.Name">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let tag of allTags" [value]="tag.Name">
            {{tag.Name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button id="add-tag-button" mat-raised-button (click)="addTag()">
        <mat-icon>add</mat-icon>
      </button>
      <div class="full-width">
        <div *ngFor="let tag of note.Tags; index as i" class="tag">
          {{tag.Name}}
          <mat-icon class="remove-tag-button" (click)="removeTag(i)">remove</mat-icon>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button (click)="cancelOrDeleteNote()">{{editMode ? 'Delete' : 'Cancel' }}</button>
        <button id="save-note-button" mat-raised-button color="primary" (click)="createOrUpdateNote()">{{editMode ? 'Save' : 'Create'}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>