.full-width {
  width: 100%;
}

#save-note-button {
  float: right;
}

#note-editor-container {
  margin-top:20px;
}

#add-tag-button {
  margin-left: 20px;
}

.tag {
  background-color: #51b9ff;
  border-radius: 50px;
  color: white;
  padding: 2px 8px 2px 8px;
  margin: 5px;
  width: fit-content;
  display: inline-block;
}

.remove-tag-button {
  cursor: pointer;
  vertical-align: middle;
}