<!-- Command Row -->
<div class="row">
  <div class="col command-row">
    <mat-form-field id="text-filter">
      <input matInput placeholder="Search" [(ngModel)]="filterTerm" (keyup)="filterNotes()">
    </mat-form-field>
    <mat-form-field id="tag-filter">
      <mat-select placeholder="Tags" [(ngModel)]="selectedTag.Name" (selectionChange)="filterNotes()">
        <mat-option *ngFor="let tag of allTags" [(value)]="tag.Name">
          {{tag.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-fab color="primary" id="new-note-button" [routerLink]="['note/new']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<hr/>

<!-- List of Notes -->
<div id="list-of-notes" class="row">
  <div *ngIf="loading" class="loading-spinner"></div>
  <div class="col-md-3 note-card" *ngFor="let note of filteredNotes">
    <mat-card [routerLink]="['note/', note.Id]">
      <mat-card-header>
        <mat-card-title>{{note.Title}}</mat-card-title>
        <mat-card-subtitle>{{note.Content}}</mat-card-subtitle>
      </mat-card-header>
      <div class="tags">
        <div *ngFor="let tag of note.Tags; index as i" class="tag">
          {{tag.Name}}
        </div>
      </div>
      <div class="last-modified">{{getLastModifiedString(note.LastModified)}}</div>
    </mat-card>
  </div>
</div>