#list-of-notes {
  margin-top:20px;
}

#note-filter {
  width: 300px;
}

.note-card {
  margin-top: 20px;
}

.note-card > mat-card {
  height: 230px;
}

.note-card > mat-card > .note-details {
  display: flex;
  justify-content: space-between;
}

mat-card-subtitle,
mat-card-title {
  max-width: 160px;
}

.note-card > mat-card > .note-details > mat-card-header {
  max-height: 140px;
  min-height: 140px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.note-card > mat-card > .tags {
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 5px;
}

.command-row {
  display: flex;
  justify-content: space-between;
}

.loading-spinner {
  background-image: url('src/assets/loading-spinner.gif');
  height: 200px;
  width: 200px;
  margin: auto;
}

.tag {
  background-color: #51b9ff;
  border-radius: 50px;
  color: white;
  padding: 2px 8px 2px 8px;
  margin: 5px;
  width: fit-content;
  display: inline-block;
}