#list-of-notes {
  margin-top:20px;
}

#text-filter {
  width: 40%;
}

#tag-filter {
  width: 40%;
}

.note-card {
  margin-top: 20px;
}

mat-card {
  height: 250px;
}

mat-card-header {
  max-height: 140px;
  min-height: 140px;
  overflow-y: hidden;
  overflow-x: hidden;
}

mat-card > .tags {
  height: 60px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.tags {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.command-row,
.title-row {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  height: 40px;
  margin-right: -10px;
}

.loading-spinner {
  background-image: url('src/assets/loading-spinner.gif');
  height: 200px;
  width: 200px;
  margin: auto;
}

.error-text {
  height: 200px;
  width: 200px;
  margin: auto;
}

.tag {
  background-color: #80ce90;
  border-radius: 50px;
  color: white;
  padding: 2px 8px 2px 8px;
  margin: 5px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  white-space: nowrap;
}

.note-card .tag {
  background-color: #51b9ff;
}

.last-modified {
  font-style: italic;
  color: grey;
  font-size: small;
}

#command-menu {
  display: flex;
  justify-content: space-between;
}

#new-note-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 80px;
  width: 80px;
  z-index: 9999;
}

#new-note-button mat-icon {
  height: 40px;
  width: 40px;
  font-size: 36px;
}

.remove-tag-button {
  cursor: pointer;
  vertical-align: middle;
}