#tag-list {
  height: 200px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

#tag-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tag-filter > mat-form-field{
  width: 100%;
}